:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --topbar-h: 64px;

  --page-bg: #181820;
  --page-bg-secondary: #1C1C28;
  --text-box: #1F1F28;
  --expl-box: #282831;
  --expl-box1: #2b2b36;
  --glass-bg: rgba(24,24,32,.94);

  --accent-a: #C956FF; --accent-a1: #4F8CFF; --accent-a2: #1DE9B6;
  --accent-b: #FF834E; --accent-b1: #FC79B8; --accent-b2: #FFD600;
  --gradient: linear-gradient(90deg, var(--accent-a), var(--accent-b));
  --gradient1: linear-gradient(90deg, var(--accent-a1), var(--accent-b1));
  --gradient2: linear-gradient(90deg, var(--accent-a2), var(--accent-b2));

  --text: #fff; 
  --text-secondary: #CCCCCC;
  --text-tertiary: #9e9e9e;
  --text-divider: rgba(255, 255, 255, 0.25);
  --text-original: #FFF; 
  --text-romanized: #AAA; 
  --text-english: var(--accent-b1);
  
  --link: var(--accent-a);

  --theme-transition: 0.3s;

  --section-a-width: 1100px;
  --section-b-width: 900px;
}

html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  scroll-behavior: auto;
  scroll-padding-top: 43px;
}

@media (min-width: 1001px) {
  html {
    overflow-y: scroll;
  }
}

body {
  background-color: var(--page-bg);
  color: var(--text);
  transition: background-color var(--theme-transition) ease, 
              color var(--theme-transition) ease;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--page-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--expl-box);
  border-radius: 6px;
}

html {
  scrollbar-color: var(--expl-box) var(--page-bg);
  scrollbar-width: thin;
}

/* img {
  max-width: 100%;
  height: auto;
}

.no-double-tap-zoom {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
} */