.song-container {
  margin: 0 auto; 
  padding-top: 64px; 
  text-align: center;
}

.song-container h1 {
  margin-top: 4px;
}

.lyrics-container {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.lyrics-divider {
  margin: 16px 4px;
}

.lyrics-text {
  display: block;
  width: fit-content;
  cursor: pointer;
  padding: 3px 5px;
  margin: 5px 3px;
  font-size: 1.1rem;
}

.lyrics-text:hover {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 6px;
}

.lyrics-text .original {
  color: var(--text-original);
}

.lyrics-text .romanized {
  color: var(--text-romanized);
}

.lyrics-text .english {
  color: var(--text-english);
}

.explanation-table-wrapper {
  margin: 12px 0 12px 0;
  padding: 0 12px;
}

.explanation-table {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background: transparent;
}

.explanation-table th,
.explanation-table td {
  padding: 7px 11px;
  border: 1px solid var(--expl-box);
}

.explanation-table th {
  background: var(--expl-box);
  color: var(--text-secondary);
  font-size: 1rem;
  letter-spacing: 0.03em;
}

.explanation-table td {
  font-size: 0.95rem;
  color: var(--text-tertiary);
}

.explanation-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.04);
}

@media (max-width: 600px) {
  .explanation-table th,
  .explanation-table td {
    /* padding: 6px 6px;
    font-size: 0.95rem; */
  }
}