.home-bg {
  background: var(--page-bg); 
  margin-top: var(--topbar-h);
  min-height: calc(100vh - var(--topbar-h));
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  width: 100%;
  max-width: 1100px;
  padding: 0 16px;
  display: flex;
}

.hero-left {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  margin-left: 25px;
}

.hero-left h1 {
  color: var(--text);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 12px;

  line-height: 1.1;
  min-height: 56px;
}

.hero-left p {
  color: var(--text-secondary);
  font-size: 1.3rem;
  margin-top: 12px;
  max-width: 450px;
}

.hero-buttons {
  margin-top: 24px;
}

.hero-buttons button {
  background: var(--gradient);
  color: var(--text);
  border: none;
  border-radius: 999px;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-buttons a {
  color: var(--accent-a);
  margin-left: 18px;
  font-size: 1rem;
  text-decoration: underline;
}

#circleWaveform {
  z-index: 1;
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column-reverse !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .hero-left {
    margin-left: 0 !important;
    align-items: center !important;
    text-align: center !important;
  }
}

@media (max-width: 500px) {
  .hero-left h1 {
    font-size: 2.0rem !important;
    margin-bottom: 0 !important;
  }
  .hero-left p {
    font-size: 1.0rem !important;
    margin-top: 0 !important;
  }
  .hero-left button {
    padding: 10px 24px !important;
    font-size: 1.0rem !important;
  }
  .hero-left a {
    font-size: 1.0rem !important;
    margin-left: 12px !important;
  }
  #circleWaveformContainer {
    width: 300px !important;
    height: 300px !important;
    margin-bottom: 24px !important;
  }
  #circleWaveform {
    width: 300px !important;
    height: 300px !important;
  }
}

@media (max-width: 400px) {
  .hero-left h1 {
    line-height: 0.8 !important;
    min-height: 40px !important;
    font-size: 1.6rem !important;
    margin-bottom: 0 !important;
  }
  .hero-left p {
    font-size: 0.8rem !important;
    margin-top: 0 !important;
  }
  .hero-left button {
    padding: 8px 20px !important;
    font-size: 0.8rem !important;
  }
  .hero-left a {
    font-size: 0.8rem !important;
    margin-left: 8px !important;
  }
  #circleWaveformContainer {
    width: 250px !important;
    height: 250px !important;
  }
  #circleWaveform {
    width: 250px !important;
    height: 250px !important;
  }
}