:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --topbar-h: 64px;
  --page-bg: #181820;
  --text: #fff;
  --text-secondary: #CCCCCC;
  --muted: rgba(255,255,255,.75);
  --accent-a: #C956FF;
  --accent-b: #FF834E;
  --link: var(--accent-a);
  --gradient : linear-gradient(90deg, var(--accent-a), var(--accent-b));

  --theme-transition: 0.3s;

  --section-a-width: 1100px;
  --section-b-width: 900px;
}

html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  scroll-behavior: auto;
  scroll-padding-top: 43px;
}

body {
  background-color: var(--page-bg);
  color: var(--text);
  transition: background-color var(--theme-transition) ease, 
              color var(--theme-transition) ease;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.no-double-tap-zoom {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}